.fade-enter {
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-play-state: paused;
}
.fade-appear {
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-play-state: paused;
}
.fade-leave {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-play-state: paused;
}
.fade-enter.fade-enter-active {
    animation-name: fadeIn;
    animation-play-state: running;
}
.fade-appear.fade-appear-active {
    animation-name: fadeIn;
    animation-play-state: running;
}
.fade-leave.fade-leave-active {
    animation-name: fadeOut;
    animation-play-state: running;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fade-enter,
.fade-leave,
.fade-appear {
    animation-duration: 0.2s;
}
.navbar img{
    height: 35px;
}

.navbar-brand{
    height: auto;
}

.top-news img{
    width: 100%;
    max-height: 357px;
}

.most-popular-header{
    margin-top: 0;
}

.article-header{
    margin: 0;
    line-height: 30px;
    font-size: 16px;
    padding: 0px 10px;
}

.article-header.active{
    background-color: #000;
}

.article-header.active a{
    color: #fff;
}

.info-wrapper{
    display: inline-block;
}

.news-list .list-group-item a,
.last-news .list-group-item a{
    margin-right: 10px;
}

.like{
    font-size: 17px;
    cursor: pointer;
    color: #bbb;
    margin-right: 10px;
}

.like.liked{
    color: #000;
}

.like .likes-number{
    color: #000;
    font-size: 14px;
    margin-left: 5px;
}

.comment,
.like.read-only{
    cursor: default;
}

.comment-state{
    color: #bbb;
    margin-right: 5px;
    font-size: 17px;
}

.commented .comment-state{
    color: #000;
}

.pad-r-20,
#portal .pad-r-20{
    padding-right: 20px;
}





#portal > #floatingCirclesG{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#floatingCirclesG{
    position:relative;
    width:122px;
    height:122px;
    margin:auto;
    transform:scale(0.6);
    -o-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
}

.f_circleG{
    position:absolute;
    background-color:rgb(255,255,255);
    height:22px;
    width:22px;
    border-radius:11px;
    -o-border-radius:11px;
    -ms-border-radius:11px;
    -webkit-border-radius:11px;
    -moz-border-radius:11px;
    animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#frotateG_01{
    left:0;
    top:49px;
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
}

#frotateG_02{
    left:14px;
    top:14px;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#frotateG_03{
    left:49px;
    top:0;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#frotateG_04{
    right:14px;
    top:14px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#frotateG_05{
    right:0;
    top:49px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#frotateG_06{
    right:14px;
    bottom:14px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#frotateG_07{
    left:49px;
    bottom:0;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#frotateG_08{
    left:14px;
    bottom:14px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
    0%{
        background-color:rgba(0,0,0,0.39);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes f_fadeG{
    0%{
        background-color:rgba(0,0,0,0.39);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes f_fadeG{
    0%{
        background-color:rgba(0,0,0,0.39);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes f_fadeG{
    0%{
        background-color:rgba(0,0,0,0.39);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes f_fadeG{
    0%{
        background-color:rgba(0,0,0,0.39);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}
.table.table-striped{
    border: 1px solid #ddd;
}

.table span{
    width:35px;
    display: inline-block;
}

.table .position{
    width: 25px;
}