.fade-enter {
    opacity: 0;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-play-state: paused;
}
.fade-appear {
    opacity: 0;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-play-state: paused;
}
.fade-leave {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-play-state: paused;
}
.fade-enter.fade-enter-active {
    animation-name: fadeIn;
    animation-play-state: running;
}
.fade-appear.fade-appear-active {
    animation-name: fadeIn;
    animation-play-state: running;
}
.fade-leave.fade-leave-active {
    animation-name: fadeOut;
    animation-play-state: running;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fade-enter,
.fade-leave,
.fade-appear {
    animation-duration: 0.2s;
}
.navbar img{
    height: 35px;
}

.navbar-brand{
    height: auto;
}

.top-news img{
    width: 100%;
    max-height: 357px;
}

.most-popular-header{
    margin-top: 0;
}

.article-header{
    margin: 0;
    line-height: 30px;
    font-size: 16px;
    padding: 0px 10px;
}

.article-header.active{
    background-color: #000;
}

.article-header.active a{
    color: #fff;
}

.like{
    font-size: 17px;
    margin-left: 10px;
    cursor: pointer;
    color: #bbb;
}

.like.liked{
    color: #000;
}

.like .likes-number{
    color: #000;
    font-size: 14px;
    margin-left: 5px;
}



