.article-header{
    font: 28px/32px 'PFDinBold', Arial, sans-serif;
    color: #030608;
    letter-spacing: .5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 0;
}

.article-image{
    width: 100%;
}

.article-body{
    font-size: 16px;
    margin: 10px 0 20px 0;
}

.mar-l-20{
    margin-left: 20px;
}

.opinion{
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 10px 0;
}

.opinion > div{
    width: calc(100% - 85px);
}

.author-name{
    text-transform: capitalize;
    font-size: 15px;
    margin-right: 10px;
}

.comment-date{
    margin-bottom: 5px;
}

.author-image{
    display: inline-block;
    height: 60px;
    background-image: url(/img/user.png);
    width: 60px;
    background-size: contain;
}

.likes-text{
    margin-right: 10px;
}

.likes-block{
    margin:  5px 0;
}

.comment-form{
    margin-top: 40px;
}
