.navbar img{
    height: 35px;
}

.navbar-brand{
    height: auto;
}

.top-news{
    margin-bottom: 25px;
}

.top-news > span{
    display: block;
    height: 357px;
}

.top-news img{
    width: 100%;
    max-height: 357px;
}

.top-news a{
    text-decoration: none;
}

.most-popular-header{
    margin-top: 0;
}

.article-header{
    margin: 0;
    line-height: 30px;
    font-size: 16px;
    padding: 0px 10px;
}

.article-header.active{
    background-color: #000;
}

.article-header.active a{
    color: #fff;
}

.info-wrapper{
    display: inline-block;
}

.news-list .list-group-item a,
.last-news .list-group-item a{
    margin-right: 10px;
}

.like{
    font-size: 17px;
    cursor: pointer;
    color: #bbb;
    margin-right: 10px;
}

.like.liked{
    color: #000;
}

.like .likes-number{
    color: #000;
    font-size: 14px;
    margin-left: 5px;
}

.comment,
.like.read-only{
    cursor: default;
}

.comment-state{
    color: #bbb;
    margin-right: 5px;
    font-size: 17px;
}

.commented .comment-state{
    color: #000;
}

.pad-r-20,
#portal .pad-r-20{
    padding-right: 20px;
}




