.table.table-striped{
    border: 1px solid #ddd;
}

.table span{
    width:35px;
    display: inline-block;
}

.table .position{
    width: 25px;
}

.table-wrapper{
    min-height: 750px;
}

.table-wrapper ul.nav{
    margin-bottom: 10px;
}